@model FrontEnd.Models.ProductoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ProductoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @Html.HiddenFor(model => model.IdProducto)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NombreProducto" class="control-label"></label>
                <input asp-for="NombreProducto" class="form-control" />
                <span asp-validation-for="NombreProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescripcionProducto" class="control-label"></label>
                <input asp-for="DescripcionProducto" class="form-control" />
                <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdUbicacionProducto" class="control-label"></label>
                @Html.DropDownListFor(model => model.IdUbicacionProducto, new SelectList(Model.UbicacionProductos, "IdUbicacionProducto", "NombreUbicacionProducto"), "--Seleccione Ubicacion--")
                <span asp-validation-for="IdUbicacionProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadProducto" class="control-label"></label>
                <input asp-for="CantidadProducto" class="form-control" />
                <span asp-validation-for="CantidadProducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarcaProducto" class="control-label"></label>
                <input asp-for="MarcaProducto" class="form-control" />
                <span asp-validation-for="MarcaProducto" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EstadoProducto" /> @Html.DisplayNameFor(model => model.EstadoProducto)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
